/*@font-face {
    font-family: "RedHatDisplay";
    src: url("RedHatDisplay-VariableFont_wght.ttf") format("ttf");
    }

@font-face {
        src: url(RedHatDisplay-Italic-VariableFont_wght.ttf);
        font-family:'RedHatDisplay';
        font-style: normal;
        font-family: 'RedHatDisplay';
    } */

@font-face {
        src: url(RedHatDisplay-Black.ttf);
        font-family:'RedHatDisplay';
        font-style: normal;
        font-weight:900;
      }

@font-face {
        src: url(RedHatDisplay-Bold.ttf);
        font-family:'RedHatDisplay';
        font-style: normal;
        font-weight:700;
      }

@font-face {
        src: url(RedHatDisplay-Medium.ttf);
        font-family:'RedHatDisplay';
        font-style: normal;
        font-weight:500;
      }

body {
    background-image: url(pattern-background-desktop.svg);
    background-color: #dfe8ff;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0px;
}

h2 {
    font-family: 'RedHatDisplay', sans-serif;    
font-weight: 900;
color: rgba(25, 43, 76, 1);
} 

.card {
    display: flex;
    flex-direction: column;
    max-width: 450px;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    overflow: hidden;
}

.image_conteiner {
    width: 100%;
    
} 

.text_container {
    margin: 50px;
}

.price {
display: flex;
align-items: center;
justify-content: space-between;
background-color: #F8F9FE;
border-radius: 20px;
padding: 30px 25px 30px 25px;
}

.price div:first-child {
display: flex;
flex-direction: row;
align-items: center;
font-size: 18px;
}    

.button {
    display: flex;
    flex-direction: column;    
}   

p {
    font-family: 'RedHatDisplay', sans-serif;    
font-weight: 500;
color: rgba(132, 134, 155, 1);
line-height: 160%;
font-size: 16px;
}

h3 {
    font-family: 'RedHatDisplay', sans-serif;    
font-weight: 900;
font-size: 16px;
color: rgba(25, 43, 76, 1);
}

.text {
text-align: center;
/*font: 'RedHatDispla', sans-serif;
font-weight: 900;
font-style: normal;*/
} 

.button button:first-child {
background-color: blue;
color: white;
border-radius: 10px;
border: none;
padding: 15px;
font-size: 15px;
font-weight: 600;
margin: 20px 0px 20px 0px;
box-shadow: 0px 25px 40px #DCDAF8;
}   

.button button:last-child {
border: none;
background-color: transparent;
font-size: 15px;
font-weight: 600;
margin: 20px 0px 10px 0px;
color: rgba(103, 114, 142, 1);
} 

.pricetext h3,
.pricetext p {
margin: 0px;
} 

.price a {
font-family: 'RedHatDisplay', sans-serif;    
text-decoration: underline;
font-weight: 700;
color: rgba(59, 49, 171, 1);
font-size: 15px;
} 

.pricetext {
padding-left: 20px;
}

@media only screen and (max-width: 600px) {
    main {
      margin-left: 10px;
      margin-right: 10px;
}
 }